<main class="bg-gray">
  <div class="container">
    <mat-card>
      <h2>Calculadora de Binários</h2>

      <form (submit)="calcular()">
        <mat-form-field class="example-full-width">
          <mat-label>Informe o 1 valor em binário:</mat-label>
          <input matInput name="firstBinary" [(ngModel)]="binary.firstBinary" placeholder="Ex. 10100" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Informe o 2 valor em binário:</mat-label>
          <input matInput name="secondBinary" [(ngModel)]="binary.secondBinary" placeholder="Ex. 101011" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Operação</mat-label>
          <select name="option" [(ngModel)]="option" matNativeControl>
            <option value="sum">Soma</option>
            <option value="subtraction">Subtração</option>
            <option value="multiplication">Multiplicação</option>
            <option value="division">Divisão</option>
            <option value="remainder">Resto da divisão</option>
          </select>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Calcular</button>
      </form>
    </mat-card>

    <mat-card id="resultado">
      <h2>Resultado</h2>
      <p class="warning" *ngIf="resultado === ''">Preencha o fomulário</p>
      <p>{{resultado}}</p>
    </mat-card>
  </div>

  <div class="btn-voltar">
    <button (click)="voltar()" mat-raised-button color="accent">
      <mat-icon aria-hidden="false">
        keyboard_arrow_left
      </mat-icon>

      <span>Voltar</span>
    </button>
  </div>

</main>