<main class="bg-gray">
  <div class="container">
    <mat-card>
      <h2>Calculadora de Binários</h2>

      <form [formGroup]="formBinary" (ngSubmit)="calcular()">
        <mat-form-field class="example-full-width">
          <mat-label>Informe o 1 valor em binário:</mat-label>
          <input 
            matInput 
            name="firstBinary"
            formControlName="firstBinary"  
            placeholder="Ex. 1010001"
          />
        </mat-form-field>

        <div class="alert-danger">
          <p class="warning" *ngIf="errorsFirstBinary?.required">
            Preencimento obrigatório.
          </p>

          <p class="warning" *ngIf="errorsFirstBinary?.minlength">
            Foram informados apenas {{errorsFirstBinary.minlength.actualLength}} de {{errorsFirstBinary.minlength.requiredLength}} dígitos.
          </p>

          <p class="warning" *ngIf="errorsFirstBinary?.maxlength">
            Foram informados {{errorsFirstBinary.maxlength.actualLength}} dígitos que ultrapassaram os {{errorsFirstBinary.maxlength.requiredLength}} dígitos.
          </p>
        </div>

        <mat-form-field class="example-full-width">
          <mat-label>Informe o 2 valor em binário:</mat-label>
          <input 
            matInput 
            name="secondBinary"
            formControlName="secondBinary"
            placeholder="Ex. 00101011" 
          />
        </mat-form-field>

        <div class="alert-danger">
          <p class="warning" *ngIf="errorsSecondBinary?.required">
            Preencimento obrigatório.
          </p>

          <p class="warning" *ngIf="errorsSecondBinary?.minlength">
            Foram informados apenas {{errorsSecondBinary.minlength.actualLength}} de {{errorsSecondBinary.minlength.requiredLength}} dígitos.
          </p>

          <p class="warning" *ngIf="errorsSecondBinary?.maxlength">
            Foram informados {{errorsSecondBinary.maxlength.actualLength}} dígitos que ultrapassaram os {{errorsSecondBinary.maxlength.requiredLength}} dígitos.
          </p>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Operação</mat-label>
          <select name="option" formControlName="option" matNativeControl>
            <option value="sum">Soma</option>
            <option value="subtraction">Subtração</option>
            <option value="multiplication">Multiplicação</option>
            <option value="division">Divisão</option>
            <option value="remainder">Resto da divisão</option>
          </select>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">
          Calcular
        </button>
      </form>
    </mat-card>

    <mat-card id="resultado">
      <h2>Resultado</h2>
      <p class="warning" *ngIf="resultado === ''">
        Preencha o fomulário e clique no botão Calcular
      </p>
      <p>{{resultado}}</p>

      <button *ngIf="resultado !== ''" type="submit" mat-raised-button color="warn" (click)="calcularNovamente()">
        Calcular novamente
      </button>
    </mat-card>
  </div>

  <div class="btn-voltar">
    <button (click)="voltar()" mat-raised-button color="accent">
      <mat-icon aria-hidden="false">
        keyboard_arrow_left
      </mat-icon>

      <span>Voltar</span>
    </button>
  </div>

</main>