footer { 
  height: 35vh;
  min-height: 240px;
}

footer mat-chip-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer mat-chip-list mat-chip {
  margin: 11px auto;
}

footer p {
  color: #FFF;
}