<footer class="bg-blue">
  <mat-chip-list class="mat-chip-list-stacked" color="primary">
    <mat-chip>Soma de Binários</mat-chip>
  </mat-chip-list>

  <mat-chip-list class="mat-chip-list-stacked" color="primary">
    <mat-chip>Subtração de Binários</mat-chip>
  </mat-chip-list>

  <mat-chip-list class="mat-chip-list-stacked" color="primary">
    <mat-chip>Multipicação de Binários</mat-chip>
  </mat-chip-list>

  <mat-chip-list class="mat-chip-list-stacked" color="primary">
    <mat-chip>Divisão de Binários</mat-chip>
  </mat-chip-list>

  <mat-chip-list class="mat-chip-list-stacked" color="primary">
    <mat-chip>Resto da divisão de Binários</mat-chip>
  </mat-chip-list>
</footer>