<section class="lading-page bg-blue">
  <div class="sobre">
    <p class="white-text-color">
      Calculadora que realiza as principais operações
      aritiméticas em números binários
    </p>

    <button mat-raised-button class="bg-cyan" (click)="dashboard()">
      ACESSAR A CALCULADORA 
      <mat-icon aria-hidden="false" aria-label="Seta para a direita">
        east
      </mat-icon>
    </button>
  </div>

  <div class="logo">
    <img src="assets/gamer.png" alt="Imagem de uma pessoa usando um computador">
  </div>
</section>
