/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-blue {
  background: #2a349d;
}

.bg-cyan {
  background: #43c4eb;
}

.bg-gray {
  background: #b6c6be;
}

.white-text-color {
  color: #FFF;
}
